<div class="container">
    <div class="row">
        <div class="col-12">
            <br>
            <h1 class="heading">
                Movie Listings @ GV Cinema
            </h1>
            <a class="butn" routerLink="/">Back</a>

            <br>

            <h2 class="h2">
                {{movie.name}}
            </h2>
            <p class="detail">
                (PG:
                    {{movie.mpaaRating.label}}
                )
            </p>
            <br>
        </div>
    </div>

    <div class="row">


        <div class="col-md-4 mb-3">
            <img class="img"
                src="https://cdn.shopify.com/s/files/1/0057/3728/3618/products/minions_the_rise_of_gru_xlg_480x.progressive.jpg?v=1582300382"
                alt="">
            <!-- <img src="{{movie.imgPath}}" alt=""> -->
        </div>
        <div class="col-md-8">
            <h3 class="h2">
                Detail
            </h3>
            <p class="detail">
                Genre: <ng-continer *ngFor="let genre of movie.genre">
                    {{genre}},
                </ng-continer>
            </p>
            <p class="detail">
                Language: {{movie.language}}
            </p>
            <p class="detail">
                Duration: {{movie.duration}} miniutes
            </p>
            <p class="detail">
                User Rating: {{movie.userRating}}
            </p>
            <h3 class="h2">
                Synopsis
            </h3>
            <p class="detail">
                {{movie.description}}
            </p>

        </div>

    </div>

</div>