<div class="container">
    <form id="contact" action="" method="post">
        <h3>Post Data</h3>
        <fieldset>
            <input placeholder="Id" type="text" name="1" [(ngModel)]="submiteddData.id"  autofocus>
        </fieldset>
        <fieldset>
            <input placeholder="Customer Id" type="text" name="1" [(ngModel)]="submiteddData.customer_id"  >
        </fieldset>
        <fieldset>
            <input placeholder="Name" type="text" name="2" [(ngModel)]="submiteddData.name"  >
        </fieldset>
        <fieldset>
            <input placeholder="street" type="email" name="3" [(ngModel)]="submiteddData.street" >
        </fieldset>
        <fieldset>
            <input placeholder="postal_code" type="tel" name="4" [(ngModel)]="submiteddData.postal_code" >
        </fieldset>
        <fieldset>
            <input placeholder="city" type="url" name="5" [(ngModel)]="submiteddData.city">
        </fieldset>
        <fieldset>
            <input placeholder="start_date" type="url" name="6" [(ngModel)]="submiteddData.start_date">
        </fieldset>
        <fieldset>
            <input placeholder="end_date" type="url" name="7" [(ngModel)]="submiteddData.end_date">
        </fieldset>
        <fieldset>
            <textarea placeholder="description" name="8" [(ngModel)]="submiteddData.description"></textarea>
        </fieldset>
        <fieldset>
            <button name="submit" (click)="submitData()" type="submit" id="contact-submit" data-submit="...Sending">Submit</button>
        </fieldset>

    </form>
</div>